.btn {
  position: relative;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.8em 1.5em;
  border-radius: 6em;
  transition: all 0.2s;
  position: absolute;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: black;
  background-color: rgb(42, 212, 26);
  cursor: pointer;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

.custom {
  position: relative;
}

.select {
  /*hide original SELECT element: */
  background-color: #bce0ed;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  border-radius: 20px;
  height: 30px;
  cursor: pointer;
}

.select:focus {
  outline: none;
  border: 1px solid #211c42;
  box-shadow: 0 0 5px #211c42;
}

.flex {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.back {
  position: relative;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.8em 1.5em;
  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: #d6ecf6;
  background-color: #211c42;
  cursor: pointer;
}

.back:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.back:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.back::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.back::after {
  background-color: #211c42;
}

.back:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.back-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

.eliminar {
  position: relative;
  align-items: center;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.8em 1.5em;
  margin-left: 5px;

  border-radius: 6em;
  transition: all 0.2s;
  border: none;
  font-family: inherit;
  font-weight: 500;
  color: #d6ecf6;
  background-color: #211c42;
  cursor: pointer;
}

.eliminar:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
